.codex-set.bg::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: var(--backgroundImage);
  background-position: center;
  background-origin: center;
  background-size: 70%;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  filter: contrast(50) brightness(0.3) grayscale(1) brightness(2) opacity(0.7);
}

.codex-set .bg2::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  min-height: 100%;
}

.set-preview:hover .rarity {
  box-shadow: 0px 0px 2px 2px var(--rarity-color);
}

.set-preview img {
  filter: blur(1px);
}

.set-preview:hover img {
  filter: saturate(1);
}
